html{
    background-image:url(../images/picc1.png);
    background-size:50%; 
    background-color: rgb(253, 243, 211);    
} 
* { margin: 0px;}

div {
    display:flex;
} 
#btn {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}
#btn_int {
    margin: 2px;
    font-family: fantasy;
    width: 500px;
    height: 130px;
    font-size: 40px;
    line-height: 1.33;
    text-transform: uppercase;
    background-color: #444343b6;
    color: #ecd68c;
    transition: all 1.5s ease;
    border: 0;
    letter-spacing: 8px;
    }
#btn_auth, #btn_data {
    margin: 2px;
    font-family: fantasy;
    width: 500px;
    height: 130px;
    font-size: 40px;
    line-height: 1.33;
    text-transform: uppercase;
    background-color: #000000da;
    color: #fac451;
    transition: all 1.5s ease;
    border: 0;
    letter-spacing: 8px;
    }


#btn_auth:hover, #btn_data:hover {
    color: #e3a2fd;
    background-color: #0000007a;
    outline: none;
}
/* --------------------------Search form----------------------------------------- */
form {
    height: 1200px;
    width: 40%;
    padding: 30px;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 100px;
}

#q {
    height: 80px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(253, 243, 211);
    font-size: 20px;
    font-family: monospace;
}
#qq {
    height: 80px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.945);
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-family:monospace;
    letter-spacing: 10px;
    transition: all 1s ease;
    color: #ffffffc6;
    font-weight: bold;

}
#qq:hover {
    background-color: #043458e3;
    color: rgb(255, 255, 255);
    border: 0;
}

button {
    cursor:pointer;
}

